@font-face {
  font-family: 'Open Sans 300';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans 400';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans 600';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
html,body {
	min-height: 100%;
}
body {
	background-image: url(../images/pattern4.png);
	font-family: 'Open Sans 400';

	color: #555555;
	text-align: left;
	margin: 0;
	font-size: 14px;
}
.small {
	font-size: 12px;
}
a {
	color: #777777;
	text-decoration: none;
	font-family: 'Open Sans 400';
}
a:hover{
	color: #FF5E45
}
.background {
	background-image: url(../images/splashscreen.scale-100.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	height: 300px;
	z-index: -1;
}
.centered {
	text-align: center;
}
.main-container {
	width: 100%;
	max-width: 550px;
	margin: auto;
	min-height: 100%;
}
ul.policy {
	list-style: none; 
	padding: 6px;
	padding-left: 18px;
	padding-right: 18px;

}
.sharing {
	padding: 20px;
	width: 100%;
	max-width: 400px;
	/*background: red;*/
	margin: auto;
	text-align: center;
}
.sharing > * {
	margin: 6px;
}
.footerpusher {
	width: 100%;
	height: 50px;
	visibility: hidden;
}
.footer {
	margin-top: -50px;
	height: 50px;
	width: 100%;
	padding: 10px; 
	background-image: url(../images/pattern5.png);
	background-color: #ffffff;
	color: #aaaaaa;

	font-size: 10px;
	text-align: center;
	letter-spacing: 0.07em;
}
h1,h2,h3 {
	font-family: 'Open Sans 600';
}
.opensans600 {
	font-family: 'Open Sans 600';
}
p {
	line-height: 1.9em;
	text-align: left;

}

.promo_414_180 {
	background-image: url(../images/promotional_414_180.png);
	background-repeat: no-repeat;
	/*background-color: red;*/
	background-size: 100%;
	width: 100%;
	max-width: 414px;
	height: 180px;
	display: block;
}

.win-download-small {
	background-image: url(../images/WindowsStore_badge_en_English_Black_small_154x40.png);
	width: 154px;
	height:40px;
	display: inline-block;
}

.win-download-small:hover {
	background-image: url(../images/WindowsStore_badge_en_English_ReddishPink_small_154x40.png);
	width: 154px;
	height:40px;
	display: inline-block;
}
