
html,body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'OpenSans-Light', 'Raleway', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;

    color: #565656;
    -webkit-font-smoothing: antialiased;
}

.content {
    width: 80%;
    height: 80%;
    position: absolute;
    /*background-color: #fa0;*/
    left: 10%;
    top: 10%;
}

.value-holder {
    /*background-color: #fa0;*/
    display: inline-block;
    font-size: 200px;

    width: 220px;
    height: 220px;

    position: absolute;
    left: 50%;
    top: 50%;

    text-align: center;

    margin-left: -110px;
    margin-top: -110px;
}
